In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTENC

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [12]:
credit = pd.read_csv("/content/drive/MyDrive/credit_simple.csv", sep = ";")

In [5]:
credit.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,CLASSE
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv,bom
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv,ruim
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação,bom
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento,bom
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo,ruim

In [6]:
count = credit.groupby(['CLASSE']).size()
count

CLASSE
bom     700
ruim    300
dtype: int64

In [7]:
y = credit['CLASSE'].values
x = credit.iloc[:,:-1].values

In [8]:
label_enconder = LabelEncoder()

for i in range(x.shape[1]):
  if x[:,i].dtype == 'object':
    x[:,i] = label_enconder.fit_transform(x[:,i])

sm = SMOTENC(random_state=0, categorical_features=[3, 5, 6])

x_res, y_res = sm.fit_resample(x, y)

In [10]:
df = pd.DataFrame({'CLASSE': y_res})
df.value_counts()

CLASSE
bom       700
ruim      700
Name: count, dtype: int64